In [2]:
import pandas as pd
import awswrangler as wr
from pyhive import trino
from getpass import getpass

In [3]:
conn = trino.connect(
    host = 'trino.de.in.devneon.com.br',
    port = 443,
    protocol = 'https',
    username = getpass('Insert your User u00xxxx: '),  
    password = getpass('Insert password: '),
)
print(conn)

Insert your User u00xxxx:  ········
Insert password:  ········

<pyhive.trino.Connection object at 0x7ff07c4e6dc0>

### Plano de Modelagem:

Obter 60 dias de uso dos cartões em uma janela: Mês 1 + Mês 2 e saber, ao final do mês 3 quem estava em churn.

Features a testar:
- Uso dos cartões - Qtd usos e valores
- Idade
- Região [not used]
- Renda presumida
- GH
- Limite_cartao [not used]
- Limite atual [not used]
- Debitos pagos e nao pagos no cartão [not used]
- Possui Empréstimo Pessoal [not used
- Já foi Conta Principal [not used]
- MGM [not used]
- PIX in e PIX out -Qtd usos e valores [not used]

Esquema de obtenção de dados:
https://docs.google.com/presentation/d/1LJK6x1oKJPyWeXIfGAfuHUYSopnk8nw-EwWEdN1_sxg/edit#slide=id.p

In [24]:
start = '2023-06-01'
end = '2023-07-31'
date_origin = '2023-08-31'

In [14]:
querie_uso_cartoes = f"""
SELECT
	clientid,
	convertedvalue,
	transactiondate
FROM hive.data_processed.operacoes_diaria
WHERE operationstatus = 'EFETIVADO' 
AND product = 'CARTAO CREDITO'
AND subproduct in ('FISICO CREDITO NACIONAL', 
					'VIRTUAL CREDITO NACIONAL', 
					'FISICO CREDITO INTERNACIONAL',
					'VIRTUAL CREDITO INTERNACIONAL')
AND transactiondate between date '{start}' and date '{end}'
"""

In [15]:
df_uso_cartoes = pd.read_sql(querie_uso_cartoes, conn)

In [16]:
wr.s3.to_parquet(df_cartoes,'s3://neon-datascience-sandbox/churn-cartoes/uso_cartoes')

{'paths': ['s3://neon-datascience-sandbox/churn-cartoes/uso_cartoes'],
 'partitions_values': {}}

In [21]:
querie_churn_rev = f"""
WITH client_transacao AS (
  SELECT
    clientid,
    MAX(transactiondate) AS ultima_transacao
  FROM
    data_processed.operacoes_diaria
  GROUP BY
    clientid
),
tempo_sem_transacao AS (
  SELECT
    ct.clientid,
    CASE
      WHEN DATE_DIFF('DAY', ct.ultima_transacao, reference_date) >= 30
        AND DATE_DIFF('DAY', ct.ultima_transacao, reference_date) < 60 THEN
        DATE_DIFF('DAY', ct.ultima_transacao, reference_date)
      ELSE
        NULL
    END AS tempo_sem_transacao,
    CASE
      WHEN DATE_DIFF('DAY', ct.ultima_transacao, reference_date) >= 30
        AND DATE_DIFF('DAY', ct.ultima_transacao, reference_date) < 60 THEN
        1
      ELSE
        0
    END AS churn_flag
  FROM
    client_transacao ct
    CROSS JOIN (SELECT CAST('{date_origin}' AS DATE) AS reference_date) r -- Substitua 'your_reference_date' pela sua data de referência
)
SELECT
  clientid,
  tempo_sem_transacao,
  churn_flag
FROM
  tempo_sem_transacao
WHERE
  tempo_sem_transacao IS NOT NULL
"""

In [22]:
df_churn = pd.read_sql(querie_churn_rev, conn)

In [23]:
wr.s3.to_parquet(df_churn,'s3://neon-datascience-sandbox/churn-cartoes/churn')

{'paths': ['s3://neon-datascience-sandbox/churn-cartoes/churn'],
 'partitions_values': {}}

In [10]:
querie_dimension = f"""
SELECT
	clientid,
	presumedincome,
	age,
	ageneon
FROM hive.neondw_bi.dimension_client
WHERE clientstatus = 'Ativo'
AND persontype = 'PF'
"""

In [11]:
df_dimension = pd.read_sql(querie_dimension, conn)

In [12]:
wr.s3.to_parquet(df_dimension,'s3://neon-datascience-sandbox/churn-cartoes/dimension')

{'paths': ['s3://neon-datascience-sandbox/churn-cartoes/dimension'],
 'partitions_values': {}}

In [13]:
querie_gh = f"""
SELECT
    clientid,
    CASE
        WHEN score <= 1 THEN NULL
        WHEN score <= 33 THEN 10
        WHEN score <= 44 THEN 9
        WHEN score <= 60 THEN 8
        WHEN score <= 70 THEN 7
        WHEN score <= 82 THEN 6
        WHEN score <= 106 THEN 5
        WHEN score <= 125 THEN 4
        WHEN score <= 152 THEN 3
        WHEN score <= 202 THEN 2
    ELSE 1
    END AS GH_VL
FROM hive.boavista.customizado_neon_v2 A
LEFT JOIN neondw_bi.dimension_client B ON A.document_nu = B.cpf_cnpj
WHERE reference_date BETWEEN date '{start}' and date '{end}'
AND persontype = 'PF'
"""

In [14]:
df_gh = pd.read_sql(querie_gh, conn)

In [15]:
wr.s3.to_parquet(df_gh,'s3://neon-datascience-sandbox/churn-cartoes/gh')

{'paths': ['s3://neon-datascience-sandbox/churn-cartoes/gh'],
 'partitions_values': {}}

In [4]:
querie_viracredito = f"""
SELECT 
	idcliente as clientid,
	1 as tem_viracredito
FROM refined.products.cards_crdt_card_viracredito_fact
WHERE flag in ('Concessão', 'Aumento de limite')
AND engagement_ccc_dt <= date '{end}'
"""

querie_aumento_viracredito = f"""
SELECT
	idcliente as clientid,
	1 as atualizou_viracredito
FROM refined.products.cards_crdt_card_viracredito_fact
WHERE ultima_att_limite between date '{start}' and date '{end}'
"""

In [ ]:
df_viracredito = pd.read_sql(querie_viracredito, conn)

In [ ]:
df_viracredito_aumento = pd.read_sql(querie_aumento_viracredito , conn)